.hello {
	margin: auto;
	text-align: center;
	font-style: italic;
	font-family: "Courier New", Courier, monospace;
	font-size: 40px;
}

#greeting {
	font-weight: bold;
	font-style: oblique;
	text-align: center;
}

body {
	background-color: #e6eeff;
}

#background {
	position: absolute;
	left: 50px;
	top: 170px;
	width: 500px;
	height: 425px;
	z-index: -1;
}

.profile-pic {
	border: 5px rgb(77, 166, 255) solid;
	padding: 5px;
	display: block;
	margin: auto;
}

table {
	border: 1px solid black;
}

.table-space {
	padding: 15px;
	border: 1px solid black;
}

.table-list {
	padding: 5px;
	text-align: center;
	border: 1px solid black;
}

.colored-block {
	background-color: #99ccff;
	border-radius: 10px;
	padding: 5px;
}

#firstcatpic {
	position: absolute;
	width: 300px;
	left: 15px;
	margin-bottom: 10px;
}

#secondcatpic {
	position: absolute;
	width: 500px;
	left: 15px;
	top: 450px;
}

#thirdcatpic {
	position: absolute;
	width: 400px;
	left: 15px;
	top: 900px;
}

.middle {
	margin: auto;
	width: 50%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2, h3, h4 {
	font-style: italic;
}

a:link {
   color: #F0791E;
}

a:visited {
    color: green;
}

@media screen and (max-width: 500px){

	.profile-pic {
		width: 70%;
		margin: auto;
		vertical-align: center;
	}

	.colored-block {
		font-size: 14px;
		display: block;
		margin: auto;
		margin-top: 15px;
	}

	#background {
		top: 100px;
		left: 5px;
		width: 70%;
		height: 235px;
	}

}